:root{
    --body-background-color: #e6e9ed;
    --card-background-color: #252f39;
    --text-color1: #666;
    --text-color2: #c7c7c7;
    --btn-login-color: #1c9eb4;
    --background-white: #fff;
}
