
body{
    background-color: var(--body-background-color);
}

.navbar{
    background-color: var(--background-blue);
    color: #fff;
}
.navbar .navbar-brand{
    width: 80px;
    position: absolute;
}


.container{
    position: relative;
    top: 70px;
    color: #666;
}
.container h1,
.container h4{
    margin: 20px;
}

.card{
    background-color: #fff;
    border-radius: 5px;
    border: none;
    border-top: 3px solid var(--background-blue);
}

.card .row .col-md-4{
    height: 45px;
    padding: 3px;
    background-color: #d7d7d7;
}

.card .card-body form input{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: none;
}

