*{
    padding: 0px;
    margin: 0px;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--body-background-color);
    color: var(--text-color1);
}


.container{
    padding: 5px;
}

#accordionUserInfo{
    margin-top: 25px;
    border-radius: 5px;
    border-top: 3px solid var(--background-blue);
}
#accordionUserInfo .card h4{
    margin: 0px
}
#accordionUserInfo .card hr{
    margin: 10px;
}
#accordionUserInfo .card .btn{
    border-radius: 0px;
    background: transparent;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: none;
}
#accordionUserInfo .card .btn .row .col-md-12{
    text-align: left;
    color: #666;
}
#accordionUserInfo .card .btn .row .col-md-12 i{
    position: absolute;
    right: 10px
}

/* Collapse */
#collapseUserInfo .card-body .row{
    height: 40px;
    border-bottom: 1px solid #d7d7d7;
    padding: 7px;
}



/* Folha de Pagamento */
#accordionPay{
    margin-top: 10px;
    border-radius: 5px;
    border-top: 3px solid #41b15b;
}
#accordionPay .card{
    border: none;
}
#accordionPay .card .btn{
    border-radius: 0px;
    background-color: #41b15b;
    border-bottom: 1px solid #d7d7d7;
    color: #fff;
    text-align: left;
    box-shadow: none;
}
#accordionPay .box{
    position: absolute;
    font-size: 16px;
    top: 25px;
    right: 10px;
}
#accordionPay .card .btn .row .col-md-12{
    display: flex;
    justify-content: space-between;
}
#accordionPay .card .btn .row .col-md-12 h4{
    font-size: 14px;
}

#collapsePay #cardEarnings{
    border-radius: 3px;    
    border-top: 3px solid #0d6efd;
    padding: 5px;
    border-bottom: 1px solid #d7d7d7;
    background-color: #eee;
}
#collapsePay #cardDiscounts{
    border-radius: 3px;
    border-top: 3px solid #dc3545;
    padding: 5px;
    border-bottom: 1px solid #d7d7d7;
    background-color: #eee;
}
#collapsePay #cardNetValues{
    border-radius: 3px;
    border-top: 3px solid #41b15b;
    padding: 5px;
    border-bottom: 1px solid #d7d7d7;
    background-color: #eee;
}
#collapsePay #cardNetValues p,
#collapsePay #cardDiscounts p,
#collapsePay #cardEarnings p{
    font-weight: bold;
}

#collapsePay .card-body .card p{
    margin: 3px;
}

#collapsePay h5{
    font-size: 18px;
}

#collapsePay #rowDetail1,
#collapsePay #rowDetail2{
    background-color: #eee;
    padding: 2px;
    font-size: 14px;
}
#collapsePay #rowItems{
    background-color: #eee;
    padding: 2px;
    font-size: 14px;
}











/* ------------------------------ MODAL SELECT PAYCHECK COMPETENCE */
.modal .modal-dialog .modal-content .modal-header{
    background-color: var(--background-blue);
    color: #fff;
}

.modal .modal-content form .form-control{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: none;
    background: transparent;
}
.modal .modal-content form .btn{
    border: none;
    background-color: var(--background-blue);
    width: 180px;
}




/* Screen Mobile */
@media (max-width: 500px){
    #accordionUserInfo{
        margin-top: 15px;
    }
    #accordionUserInfo .card h4{
        font-size: 18px;
        padding: 5px;
    }
    
    #collapseUserInfo .card-body .row{
        height: 45px;
        padding-top: 0px;
        border-bottom: 1px solid #d7d7d7;
    }
    #collapseUserInfo .card-body .row .col-md-4{
        font-size: 12px;
        font-weight: bold;
    }
    
    #collapsePay .card-body .card{
        margin-top: 5px;
    }



    .modal .modal-content form .btn{
        border: none;
        background-color: var(--background-blue);
        width: 100%;
    }



}
