*{
    padding: 0px;
    margin: 0px;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--body-background-color);
    color: var(--text-color1);
}


.container{
    padding: 5px;
}

.accordion{
    margin-top: 30px;
}
.card{
    border: none;
}
.accordion .card h4{
    margin: 5px;
    padding: 5px;
}
#accordionUserInfo{
    border-top: 3px solid var(--background-blue);
}
.accordion .card .card-header a{
    color: #666;
    text-decoration: none;
}
#headerUserInfo .bi{
    position: absolute;
    right: 10px;
}

.accordion .card .card-header .row .col-md-4,
.accordion .card .card-body .row .col-md-4{
    text-align: right;

}
.accordion .card .card-body .row .col-md-4,
.accordion .card .card-body .row .col-md{
    border-bottom: 1px solid #d7d7d7;
    padding: 7px;
}
.accordion .card .card-body .row{
    height: 40px;
    background-color: #f3f3f3;
}

#rowSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: var(--background-blue);
    color: #fff;
    border-radius: 5px;
    padding: 5px;

}
#rowSelect h5{
    position: relative;
    top: 3px;
    font-size: 18px;
}
#rowSelect .btn{
    border: none;
    margin-left: 10px;
    font-size: 14px;
}

.modal .modal-dialog .modal-content .modal-header{
    background-color: var(--background-blue);
    color: #fff;
}

.modal .modal-content form .form-control{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: none;
    background: transparent;
}
.modal .modal-content form .btn{
    border: none;
    background-color: var(--background-blue);
    width: 180px;
}


.totals #totalEarnings{
    border-top: 3px solid #ffc107;
}
.totals #discounts{
    border-top: 3px solid #dc3545;
}
.totals #netValue{
    border-top: 3px solid #0d6efd;
}

.totals #totalEarnings,
.totals #discounts,
.totals #netValue{
    padding: 7px;
}
.totals #totalEarnings h5,
.totals #discounts h5,
.totals #netValue h5{
    margin: 0px;
}
.totals #totalEarnings p,
.totals #discounts p,
.totals #netValue p{
    margin: 10px;
    font-weight: bold;
    font-size: 22px;
    line-height: 10px;
}



/* Screen Mobile */
@media (max-width: 500px){
    .accordion .card h4{
        font-size: 18px;
        padding: 5px;
    }
    .accordion .card .card-body{
        padding: 5px;
    }
    #headerUserInfo{
        padding: 5px;
    }
    #headerUserInfo .bi{
        position: absolute;
        margin: 10px;
    }
    .accordion .card .card-header .row .col-md-4{
        text-align: left;
        font-size: 10px;
    }
    .accordion .card .card-body .row{
        height: 45px;
        border-bottom: 1px solid #d7d7d7;
        margin: 0px 0px 2px;
        padding: 0px;
    }
    .accordion .card .card-body .row .col-md-4,
    .accordion .card .card-body .row .col-md{
        border: none;
        padding: 0px 3px 0px;
    }
    .accordion .card .card-body .row .col-md-4{
        text-align: left;
        font-size: 10px;
    }

    #titlePayment{
        position: relative;
        top: 7px;
        font-size: 18px;
    }

    #rowSelect{
        text-align: center;
    }
    #rowSelect h5{
        display: none;
    }
    #rowSelect h5 i{
        display: none;
    }
    #rowSelect .btn{
        background: none;
        color: #fff;
        box-shadow: none;
    }

    .modal .modal-content form .btn{
        border: none;
        background-color: var(--background-blue);
        width: 100%;
    }



}
